<h3>Account Information</h3>
<div class="row">
    <div class="card col s12 m2">
        <div class="card-content">
            <img src="{{user.image}}" class="circle responsive-img">
        </div>
    </div>
    <div class="card col s12 m8 offset-m1">
        <div class="card-content">
            <h5>Name: {{user.firstName}} {{user.lastName}}</h5>
            <h5>User ID: {{user.id}}</h5>
            <br>
            {{!-- <form action="/account/copy-id" method="post">
                <input type="submit" value="Copy User ID" class="btn copy-btn" id="copy-clipboard"></div>
            </form> --}}
            {{!-- <button class="btn copy-btn" data-clipboard-target="{{user.id}}">Copy User ID</button> --}}
        </div>
    </div>
</div>