{{!-- <h1 class="pb-2">Feed</h1> --}}
<div class="row"></div>
{{#each posts}}
<div class="col s12 m6 offset-m3">
    <div class="card s12">
        <a href="{{link}}">
            <div class="card-image card-panel hoverable teal lighten-1">
                <h5 class="white-text center-align truncate">{{link}}</h5>
                {{#if (accessIcons user ../user)}}
                <a href="/posts/edit/{{id}}" class="btn-floating halfway-fab red">
                    <i class="fa fa-pencil"></i>
                </a>
                {{!-- <a href="/posts/delete/{{id}}" class="btn-floating halfway-fab red inline">
                    <i class="fa fa-trash"></i>
                </a> --}}
                {{/if}}
            </div>
        </a>
        <div class="card-content center-align">
            <p class="snippet stream-post-text">{{truncate snippet 1200}}</p>
            <br>
            <div class="chip">
                <img src="{{user.image}}">{{user.firstName}} {{user.lastName}}
            </div>
        </div>
        <div class="card-action">
            <a href="/posts/show/{{id}}">MORE</a>
        </div>
    </div>
    {{!-- old bootstrap edit/deletes --}}
    {{!-- <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a> --}}
    {{!-- <form method="post" action="/ideas/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form> --}}
</div>
{{else}}
<p>No posts yet</p>
<a href="/posts/new">Write the first!</a>
{{/each}}
</div>