<h1 class="pb-2">Feed</h1>
    <div class="row">
    {{#each posts}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <a href="/stories/edit/{{id}}" class="btn-floating halfway-fab red">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
            <div class="card-content center-align">
                <h6>{{link}}</h6>
                {{!-- {{>button btn="btn-text" addClass='-large' link=this label=this}} --}}
                <p class="snippet">{{snippet}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}">{{user.firstName}} {{user.lastName}}
                </div>
            </div>
        </div>

        {{!-- old bootstrap edit/deletes --}}
        {{!-- <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a> --}}
        {{!-- <form method="post" action="/ideas/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form> --}}
    </div>
    {{else}}
    <p>No posts yet</p>
    <a href="/posts/new">Write the first!</a>
    {{/each}}
</div>